.sample-table-container {
  width: 50em;
  background-color: rgb(65, 146, 253);
  padding: 2em;
  border-radius: 0.2em;
  border: none;
  margin: auto auto 2em auto;
}

.dash-table-container {
  width: 50em;
  position: absolute;
  margin: auto auto auto auto;
}

#header {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.body-container {
  display: flex;
  flex-direction: column;
}

.scattervar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(65, 146, 253);
  padding: 1em 0.2em 1em 0.2em;
  border-radius: 0.3em;
  border: none;
}

#scatter-dropdown {
  width: 10em;
}

.outlier-container,
.dist-container {
  width: 70em;
  margin: 1em auto auto auto;
}

#box-h3,
#dist-h3 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.para-pred-container{
  display: flex;
  flex-direction: row;
  background-color: rgb(65, 146, 253);
  justify-content: space-around;
  padding: 1em;
  border-radius:0.3em;
}

.predict-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin:auto auto auto 1em;
}

.predict-container > input {
  margin-top:0.5em;
  padding:0.5em 0.3em 0.5em 0.3em;
}

.parameter-div{
  width:40em;
  background-color:white;
  border-radius:0.4em;
  padding:1em;
}